.editorContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-bottom: 1px solid #e2e8f02f;
  padding: 0.875rem;
}
.textEditor {
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.textEditorContent {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1.5rem;
}

.toolbarButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #a36cf0;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.toolbarButton:hover {
  background-color: #b186ed;
}

.toolbarButtonActive {
  composes: toolbarButton;
  background-color: #7c25f5af;
}