.pageContainer {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
  width: 15rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #e2e8f02f;
  transition: all 0.5s;
}

.sidebar.active {
  width: 10px;
  padding-right: 1.5rem;
  transition: all 0.5s;
}

.sidebar.active .sidebarButton {
  opacity: 0;
}

.sidebar.active .sidebarList {
  opacity: 0;
}

.sidebarButton {
  position: relative;
  width: 55px;
  height: 55px;
  padding-bottom: 2px;
  padding-left: 7px;
  margin: 1.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #a46af5;
  box-shadow: 0px 0px 6px 0px #606060b2;
  border: 1px solid #e2e8f03b;
  font-weight: 500;
  color: #f2f2f2;
  cursor: pointer;
  transition: all .4s;
}

.sidebarButton:hover {
  background-color: #8c3dfb;
  transition: all .4s;
}

.moveSidebar {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  display: grid;
  place-content: center;
  width:42px;
  height: 42px;
  background-color: #a46af5;
  color: #f2f2f2;
  border-radius: 50%;
  right: -40px;
  z-index: 50;
  border: none;
}

.moveSidebarBtn { 
  font-size: 1.4rem;
}

.sidebarList {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.5rem 0;
}

.sidebarItem {
  background-color: #42424257;
  padding: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

.sidebarItem p {
  margin: 0;
  padding: .5rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebarItem:hover {
  background-color: #74747457;
}

.sidebarItemActive {
  composes: sidebarItem;
  background-color: #8a8a8a57;
}

.emptyNoteText {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 8rem;
  }
}